<div class="toolbar" role="banner">
    <img width="40px" src="https://moodle2.estg.ipp.pt/pluginfile.php/1/core_admin/logocompact/300x300/1645633250/icon_fav_estg.png" alt="">
    <a class="title" href="/">Biblioteca Root</a>
    <div class="spacer"></div>
    <a class="linkToolBar" href="/Login">Login</a>
    <a class="linkToolBar" href="/Registo">Registo</a>
    <a class="linkToolBar" href="/ClientDash">ClientDash</a>
    <a class="linkToolBar" href="/AdminDash">AdminDash</a>
    <a class="linkToolBar" href="/Selling">Selling</a>
    <a class="linkToolBar" href="/MarketPlace">MarketPlace</a>

</div>

<div class="content" role="main"></div>
<router-outlet></router-outlet>