#booksCover {
    width: 150px;
    height: auto;
    min-height: 240px;
    transition: .5s;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: var(--background-secundary);
}

#booksCover:hover {
    transition: .5s;
    cursor: pointer;
    transform: scale(1.04);
    border: 2px solid var(--roxo);
    border-radius: 10px;
}

#booksCover .book {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#booksCover .imageStyle {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.864);
    color: black;
}

#booksCover .bookInfo {
    border-radius: 10px;
    border: 2px solid transparent;
    position: absolute;
    background-color: rgba(239, 239, 239, 0.8);
    width: 150px;
    height: 65px;
    z-index: 1;
    color: black;
    padding: 10px;
    overflow: hidden;
}

#booksCover:hover .bookInfo {
    border-color: var(--roxo);
    border-bottom: transparent;
}

#booksCover .bookInfo h3 {
    max-height: 50%;
    text-align: justify;
}

#booksCover .bookInfo h4 {
    max-height: 50%;
    overflow: hidden;
}

.bookEdit {
    transition: .5s;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: rgba(204, 204, 204, 0.577);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookEdit.inactive {
    transition: .5s;
    height: 0;
}

.bookEdit.active {
    transition: .5s;
    height: 100%;
}

.bookEdit .box {
    transition: .5s;
    width: 70vh;
    background-color: var(--background-secundary);
    border: 2px solid var(--roxo);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.bookEdit.active .box {
    transition: .5s;
    height: 50%;
}

.bookEdit.inactive .box {
    transition: .01s;
    visibility: hidden;
    height: 0;
}

.bookEdit.active .box .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

.bookEdit.active .box .flex svg {
    height: 40px;
    stroke: var(--roxo);
    transform: rotateZ(45deg);
}

.bookEdit.active .box .flex svg:hover {
    cursor: pointer;
}

.bookEdit.active .info {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookEdit.active .info .textos {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
}

.bookEdit.active .info .textos h3 {
    font-size: 18px;
    font-weight: 600;
}

.bookEdit.active .info .imagePopUp {
    display: unset;
    width: auto;
    min-width: 35%;
    height: 90%;
    align-self: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.864);
    color: black;
}

.bookEdit.inactive .info .imagePopUp {
    display: none;
}

.bookEdit.inactive .info .textos .flex {
    display: none;
}

.bookEdit.active .info .textos .flex .checkbox {
    width: 50px;
    height: 20px;
    background: var(--border-color);
    position: relative;
    border-radius: 10px;
}

.bookEdit.active .info .textos .flex .checkbox label {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all .5s ease;
    position: absolute;
    top: -2px;
    left: -3px;
    background: var(--tongle-color);
}

.bookEdit.active .info .textos .flex .checkbox.active label {
    left: 27px;
    background: var(--roxo);
}

.bookEdit.active .info .textos .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    align-items: center;
}

.bookEdit.active .info .textos .btnEliminar {
    transition: .5s;
    width: 95%;
    height: 40px;
    background: var(--roxo);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0;
    margin-top: auto;
    margin-bottom: 0;
    font-weight: bolder;
}

.bookEdit.inactive .info .textos .btnEliminar {
    display: none;
}

.bookEdit.active .info .textos .btnEliminar:hover {
    transition: .5s;
    cursor: pointer;
    transform: scale(1.05);
    background-color: red;
    font-weight: bolder;
}

.bookEdit.active .info .textos .textosInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}