<app-nav-bar [page]="this.page"></app-nav-bar>

<div id="selling">
    <div class="collum">
        <div class="manageBooks">
            <label class={{this.newImage}} (click)="changeBookBtnState()">Adicionar livro
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <line x1="12" y1="8" x2="12" y2="16" fill="#fff" stroke-miterlimit="10" />
                    <line x1="16" y1="12" x2="8" y2="12" fill="#fff" stroke-miterlimit="10" />
                    <circle cx="12" cy="12" r="10" fill="none" />
                </svg>
            </label>
            <div class={{this.createBookBtn}}>
                <form action="">
                    <h3>Titulo:</h3>
                    <input type="text" placeholder="Titulo" name="title" [(ngModel)]="title">
                    <h3>Autor:</h3>
                    <input type="text" placeholder="Autor" name="author" [(ngModel)]="author">
                    <h3>ISBN:</h3>
                    <input type="text" placeholder="ISBN" name="isbn" [(ngModel)]="isbn">
                    <h3>Numero de unidades:</h3>
                    <input type="number" placeholder="Numero de unidades" min="1" name="units_stock"
                        [(ngModel)]="units_stock">
                    <h3>Valor para venda:</h3>
                    <input type="number" placeholder="Valor de venda" min="0.01" name="price" [(ngModel)]="price">
                    <label for="coverImageID" class="coverImageLabel">
                        <h3>Imagem de capa: ({{coverImage?.name}})</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <line x1="12" y1="8" x2="12" y2="16" fill="#fff" stroke-miterlimit="10" />
                            <line x1="16" y1="12" x2="8" y2="12" fill="#fff" stroke-miterlimit="10" />
                            <circle cx="12" cy="12" r="10" fill="none" />
                        </svg>
                    </label>
                    <input type="file" placeholder="Ficheiro" id="coverImageID" (change)="setImage($event)">
                    <div class="flex">
                        <h3>{{this.state}}</h3>
                        <div class="checkbox">
                            <input type="checkbox" value="1" id="checkboxOneInput" (change)="changeBookState()" />
                            <label for="checkboxOneInput"></label>
                        </div>
                    </div>
                    <button class="btnConfirmar" (click)="this.createBook()">Adicionar livro</button>
                </form>
            </div>
        </div>
        <div class="filter">
            <h1>Filtros</h1>
            <h3>Nome do livro:</h3>
            <input type="text" placeholder="Título" name="title" [(ngModel)]="title">
            <h3>ISBN do livro:</h3>
            <input type="text" placeholder="ISBN" name="isbn" [(ngModel)]="isbn">
            <h3>Valor minimo:</h3>
            <input type="number" placeholder="Valor minimo" min="0" name="valMin" [(ngModel)]="valMin">
            <h3>Valor maximo:</h3>
            <input type="number" placeholder="Valor maximo" min="0" name="valMax" [(ngModel)]="valMax">
            <h3>Autor:</h3>
            <div class="dropDown" (click)="changeDropedAutor()">
                <div class="placeHolder">
                    <h3>{{this.autorLabel}}</h3>
                    <div class="space"></div>
                    <svg class="svgDropDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <polyline points="5 9 12 16 19 9" fill="none" stroke-miterlimit="10" />
                    </svg>
                </div>
                <div class={{this.dropedAutor}} *ngFor="let book of this.books">
                    <button class="escolha" (click)="changeAutorLabel(book.author)" href="">{{book.author}}</button>
                </div>
            </div>
            <button class="btnConfirmar" (click)="this.getFilteredBooks()">Filtrar livro</button>
        </div>
    </div>

    <div class="library">
        <h1>Vendas</h1>
        <div class="booksArray" *ngFor="let book of this.books">
            <app-books-cover [page]="this.page" [id]="book.id" [bookAutor]="book.author" [bookISBN]="book.isbn"
                [bookName]="book.title" [bookPrice]="book.price" [bookState]="book.state" [bookUnits]="book.units_stock"
                [imageUrl]="book.coverImage" class="gridItem"></app-books-cover>
        </div>


    </div>
</div>