<app-nav-bar></app-nav-bar>

<div class="selling">
    <div class="filter">
        <h1>Filtros</h1>
        <h3>Nome do livro:</h3>
        <input type="text" placeholder="Nome">
        <h3>ISBN do livro:</h3>
        <input type="text" placeholder="ISBN">
        <h3>Valor minimo:</h3>
        <input type="number" placeholder="Valor minimo">
        <h3>Valor maximo:</h3>
        <input type="number" placeholder="Valor maximo">
        <h3>Clientes:</h3>
        <div class="dropDown">
            <div class="placeHolder">
                <h3>Cliente</h3>
                <div class="space"></div>
                <svg class="svgDropDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <polyline points="5 9 12 16 19 9" fill="none"  stroke-miterlimit="10"/>
                </svg>
            </div>
            <div class="droped inactive">
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
            </div>
        </div>
        <h3>Autor:</h3>
        <div class="dropDown">
            <div class="placeHolder">
                <h3>Autor</h3>
                <div class="space"></div>
                <svg class="svgDropDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <polyline points="5 9 12 16 19 9" fill="none"  stroke-miterlimit="10"/>
                </svg>
            </div>
            <div class="droped inactive">
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
                <a href="">José Antonio Pinto</a>
            </div>
        </div>

    </div>

    <div class="library">
        <h1>Vendas</h1>

    </div>
</div>