<div class="registo">
    <div class="apresentacao">
        <div class="text">
            <h1>Registo Page</h1>
            <h2>Registe-se para aceder ao dashboard do user</h2>
        </div>
    </div>
    <div class="registoForm">
        <div class="btns">
            <a href="/" class="btnsForm ">Login</a>
            <a href="/Registo" class="btnsForm active">Registar</a>
        </div>
        <form>
            <div class="flex">
                <h3>Sou funcionario</h3>
                <div class="checkbox">
                    <input type="checkbox" value="1" id="checkboxOneInput" name="userType" [(ngModel)]="userType"/>
                    <label for="checkboxOneInput"></label>
                </div>
            </div>
            <input type="text" placeholder="Name" name="name"  [(ngModel)]="name">
            <input type="text" placeholder="Email" name="email"  [(ngModel)]="email">
            <input type="tel" placeholder="Phone number" name="phone_number"  [(ngModel)]="phone_number">
            <input type="password" placeholder="Password" name="password"  [(ngModel)]="password">
            <button class="btnConfirmar" (click)="submit()">Confirmar</button>
        </form>
    </div>
</div>