.registo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao {
    height: 100vh;
    width: 50vw;
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.apresentacao .imagem {
    width: 150px;
    height: 150px;
    margin-left: 25%;
    margin-bottom: 100px;
}

.apresentacao .text {
    margin-bottom: 0%;
    margin-top: auto;
}

.apresentacao .text h1 {
    font-size: 60px;
    color: white;
}

.apresentacao .text h2 {
    font-size: 35px;
    color: var(--border-color);
}

.registoForm {
    height: 100vh;
    width: 50vw;
    background-color: var(--background-secundary);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registoForm form {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registoForm form input {
    box-sizing: border-box;
    width: 305px;
    height: 50px;
    border: 3px solid var(--border-color);
    border-radius: 18px;
    background-color: transparent;
    padding: 20px;
    margin-bottom: 10px;
    color: var(--border-color);
    outline: none;
    transition: .5s;
}

.registoForm form input:focus {
    transition: .5s;
    border: 3px solid var(--roxo);
}

.registoForm form input::placeholder {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--border-color);
}

.registoForm .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    width: 305px;
    padding: 0 25px;
}

.registoForm .btns .btnsForm {
    font-size: 30px;
    background: transparent;
    color: white;
    border: 0;
    font-weight: bolder;
    border-bottom: 3px solid var(--background-secundary);
    padding-bottom: 10px;
    text-decoration: none;
}

.registoForm .btns .btnsForm.active {
    border-bottom: 3px solid var(--roxo);
}

.registoForm .btns .btnsForm:hover {
    transition: .5s;
    color: var(--roxo);
}

.registoForm form .btnConfirmar {
    transition: .5s;
    width: 305px;
    height: 40%;
    background: var(--roxo);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    color: white;
    border: 0;
    margin-top: 20px;
}

.registoForm form .btnConfirmar:hover {
    transition: .5s;
    cursor: pointer;
    transform: scale(1.05);
}

.registoForm form input[type=checkbox] {
    visibility: hidden;
}

.registoForm form .checkbox {
    width: 50px;
    height: 20px;
    background: var(--border-color);
    margin: 10px;
    margin-bottom: 0px;
    position: relative;
    border-radius: 10px;
}

.registoForm form .checkbox label {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -3px;
    background: var(--tongle-color);
}

.registoForm form .checkbox input[type=checkbox]:checked+label {
    left: 27px;
    background: var(--roxo);
}

.registoForm form .flex {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.registoForm form .flex h3 {
    margin-bottom: 0;
    margin-top: auto;
}