<div class="registo">
    <div class="apresentacao">
        <div class="text">
            <h1>Registo Page</h1>
            <h2>Registe-se para aceder ao dashboard do user</h2>
        </div>
    </div>
    <div class="registoForm">
        <div class="btns">
            <a href="/Login" class="btnsForm ">Login</a>
            <a href="/Registo" class="btnsForm active">Registar</a>
        </div>
        <form>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="tel" placeholder="Phone number">
            <input type="password" placeholder="Password">
            <button class="btnConfirmar">Confirmar</button>
        </form>
    </div>
</div>