<div class="adminDash ">

    <app-nav-bar></app-nav-bar>

    <div class="boxes">
        <div class="box">
            <apx-chart [series]="users.series!" [chart]="boxes.chart!" [xaxis]="boxes.xaxis!" [dataLabels]="boxes.dataLabels!" [stroke]="boxes.stroke!" [title]="users.title!" [tooltip]="boxes.tooltip!"></apx-chart>
        </div>
        <div class="box">
            <apx-chart [series]="fidelizacoes.series!" [chart]="boxes.chart!" [xaxis]="boxes.xaxis!" [dataLabels]="boxes.dataLabels!" [stroke]="boxes.stroke!" [title]="fidelizacoes.title!" [tooltip]="boxes.tooltip!"></apx-chart>
        </div>
        <div class="box">
            <apx-chart [series]="vendidos.series!" [chart]="boxes.chart!" [xaxis]="boxes.xaxis!" [dataLabels]="boxes.dataLabels!" [stroke]="boxes.stroke!" [title]="vendidos.title!" [tooltip]="boxes.tooltip!"></apx-chart>
        </div>
        <div class="box">
            <apx-chart [series]="comprados.series!" [chart]="boxes.chart!" [xaxis]="boxes.xaxis!" [dataLabels]="boxes.dataLabels!" [stroke]="boxes.stroke!" [title]="comprados.title!" [tooltip]="boxes.tooltip!"></apx-chart>
        </div>
    </div>

    <div class="flex">
        <div class="boxMedia">
            <h1>Vendidos</h1>
            <div #chart>
                <apx-chart [series]="vendidosGraph.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"></apx-chart>
            </div>
        </div>

        <div class="boxMedia">
            <h1>Comprados</h1>
            <div #chart>
                <apx-chart [series]="compradosGraph.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"></apx-chart>
            </div>

        </div>

    </div>

    <div class="pontos">
        <h1>Pontos</h1>
        <div #chart>
            <apx-chart [series]="pontosGraph.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"></apx-chart>
        </div>
    </div>
</div>