.adminDash .boxes {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adminDash .boxes .box {
    transition: .5s;
    width: 400px;
    height: 250px;
    padding: 10px;
    padding-top: 20px;
    background-color: var(--boxes-color);
    border-radius: 25px;
    border: 3px solid var(--boxes-color);
}

.adminDash .boxes .box:hover {
    transition: 0.5s;
    border: 3px solid var(--roxo);
    transform: scale(1.06);
}

.adminDash .boxes .box h1 {
    width: 100%;
    text-align: center;
}

.adminDash .boxes .box .grafico {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bolder;
}

.adminDash a {
    text-decoration: 0;
    color: var(--text-color);
}

.adminDash .flex .boxMedia {
    transition: .5s;
    padding: 20px;
    margin-top: 25px;
    background-color: var(--boxes-color);
    border-radius: 20px;
    width: 49%;
    height: 400px;
    border: 3px solid var(--boxes-color);
}

.adminDash .flex .boxMedia:hover {
    transition: 0.5s;
    border: 3px solid var(--roxo);
    transform: scale(1.06);
}

.adminDash .pontos {
    padding: 20px;
    margin-top: 25px;
    background-color: var(--boxes-color);
    border-radius: 20px;
    width: 100%;
    height: 400px;
    border: 3px solid var(--boxes-color);
}

.adminDash .pontos:hover {
    transition: 0.5s;
    border: 3px solid var(--roxo);
    transform: scale(1.06);
}

.adminDash .flex {
    display: flex;
    height: max-content;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}