<div id="users">
    <form action="">
        <input placeholder="ID: {{this.id}}" type="text">
        <input placeholder="Nome: {{this.nome}}" type="text">
        <input placeholder="Tlm: {{this.phone_number}}" type="text">
        <input placeholder="Criado a {{this.date}}" type="text">
        <input class="{{this.getDataContext('funcionario')}}" placeholder="Password" type="password">
        <input class="{{this.getDataContext('user')}}" placeholder="Email:{{this.email}}" type="password">
    </form>

    <div class="flex">
        <div class="bts" (click)="this.changeValuePopUp('plusEmployee')">
            <h3>Atribuir funcionario</h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <line x1="12" y1="8" x2="12" y2="16" fill="#fff"  stroke-miterlimit="10"/>
                <line x1="16" y1="12" x2="8" y2="12" fill="#fff"  stroke-miterlimit="10"/>
                <circle cx="12" cy="12" r="10" fill="none" />
            </svg>
        </div>

        <div class="bts" (click)="this.changeValuePopUp('delete')">
            <h3>Delete user</h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <circle cx="8.5" cy="7" r="4" fill="none" />
                <polyline points="1 20.5 1 16.5 4 13.5 8.5 15 13 13.5 16 16.5 16 20.5" fill="none" />
                <line x1="18" y1="12.5" x2="23" y2="7.5" fill="none"  stroke-miterlimit="10"/>
                <line x1="18" y1="7.5" x2="23" y2="12.5" fill="none"  stroke-miterlimit="10"/>
            </svg>
        </div>

        <div class="bts {{this.getDataContext('user')}}" (click)="this.changeValuePopUp('fidelizar')">
            <h3>Fidelizar</h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <polygon points="18.5 20 12 14 5.5 20 5.5 4 18.5 4 18.5 20" fill="none"/>
            </svg>
        </div>

        <div class="bts" (click)="this.changeValuePopUp('submit')">
            <h3>Submeter</h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10" fill="none"/>
                <polyline points="8 12 11 15 16 10" fill="none"  stroke-miterlimit="10"/>
            </svg>
        </div>

    </div>


</div>

<div class={{this.popUpVerify}}>
    <div class="content">
        <h2 class="visible">{{this.popUpText}}</h2>
        <div class="flex">
            <button class="visible cinza" (click)="this.changeValuePopUp()">Sair</button>
            <button class="visible roxo" (click)="this.submit()">Sim</button>
        </div>
    </div>

</div>