<div id="adminTools">
    <h1>Admin Tools</h1>
    <div class="tabelaFuncionarios">
        <h2>Tabela funcionarios</h2>
        <app-funcionarios-info [dataContext]="this.dataContextFunc" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextFunc" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextFunc" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextFunc" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextFunc" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>

    </div>
    <div class="tabelaUsers">
        <h2>Tabela Users</h2>
        <app-funcionarios-info [dataContext]="this.dataContextUser" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextUser" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextUser" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextUser" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
        <app-funcionarios-info [dataContext]="this.dataContextUser" [date]="this.date" [email]="this.email" [id]="this.id" [nome]="this.nome" [phone_number]="this.phone_number"></app-funcionarios-info>
    </div>
</div>