<div class="clientDash">
    <div class="boxes">
        <a class="box" href="/#vendidos">
            <h1>Vendidos</h1>
            <div class="grafico">
                10
            </div>
        </a>
        <a class="box" href="/#comprados">
            <h1>Comprados</h1>
            <div class="grafico">
                10
            </div>
        </a>
        <a class="box" href="/#pontos">
            <h1>Pontos</h1>
            <div class="grafico">
                10
            </div>
        </a>
    </div>

    <div class="flex">
        <div id="vendidos">
            <h1>vendidos</h1>
        </div>

        <div class="comprados">
            <h1>comprados</h1>

        </div>

    </div>

    <div id="pontos">
        <h1>pontos</h1>

    </div>
</div>