<div class="clientDash ">

    <app-nav-bar [page]="this.page"></app-nav-bar>

    <div class="boxes">
        <apx-chart class="box" [series]="fidelizacoes.series!" [chart]="boxes.chart!" [xaxis]="boxes.xaxis!" [dataLabels]="boxes.dataLabels!" [stroke]="boxes.stroke!" [title]="fidelizacoes.title!" [tooltip]="boxes.tooltip!"></apx-chart>
        <apx-chart class="box" [series]="vendidos.series!" [chart]="boxes.chart!" [xaxis]="boxes.xaxis!" [dataLabels]="boxes.dataLabels!" [stroke]="boxes.stroke!" [title]="vendidos.title!" [tooltip]="boxes.tooltip!"></apx-chart>
        <apx-chart class="box" [series]="comprados.series!" [chart]="boxes.chart!" [xaxis]="boxes.xaxis!" [dataLabels]="boxes.dataLabels!" [stroke]="boxes.stroke!" [title]="comprados.title!" [tooltip]="boxes.tooltip!"></apx-chart>
    </div>

    <div class="flex">
        <div class="boxMedia">
            <apx-chart [title]="vendidosGraph.title!" [series]="vendidosGraph.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"></apx-chart>
        </div>

        <div class="boxMedia">
            <apx-chart [title]="compradosGraph.title!" [series]="compradosGraph.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"></apx-chart>
        </div>
    </div>

    <div class="pontos">
        <apx-chart [title]="pontosGraph.title!" [series]="pontosGraph.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"></apx-chart>
    </div>
</div>