<div class="navBar">

    <a class="linksNav" href={{link1.to}}>
        <svg class="svgLinks" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <rect x="3.4" y="3.4" width="6.6" height="6.61" fill="none" />
            <rect x="13.9" y="3.4" width="6.6" height="6.61" fill="none" />
            <rect x="3.4" y="13.9" width="6.6" height="6.61" fill="none" />
            <rect x="13.9" y="13.9" width="6.6" height="6.61" fill="none" />
        </svg> {{link1.name}}
    </a>
    <a class="linksNav" href={{link2.to}}>
        <svg class="svgLinks" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M18,8.4A7.1,7.1,0,0,0,12,5a7,7,0,0,0,0,14,7.1,7.1,0,0,0,6-3.4" fill="none" />
            <line x1="3" y1="10" x2="13" y2="10" fill="none" />
            <line x1="3" y1="14" x2="13" y2="14" fill="none" />
        </svg> {{link2.name}}
    </a>
    <a class="linksNav" href={{link3.to}}>
        <svg class="svgLinks" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <ellipse cx="12" cy="5" rx="6.5" ry="2" fill="none" />
            <path d="M18.5,5,17,19c0,.8-2,2-5,2s-5-1.2-5-2L5.5,5" fill="none" />
        </svg> {{link3.name}}
    </a>
    <div class="space"></div>
    <button class="exit">
        <svg class="svgTheam" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <polyline points="7 20 20 20 20 13 15.34 13" fill="none" />
            <polyline points="10 18.7 19.5 8.56 15 4 11 7.5" fill="none" />
            <path d="M3,3h8V16a4,4,0,0,1-8,0Z" fill="none" />
            <rect x="6.5" y="15.5" width="1" height="1" rx="0.5" fill="none" />
        </svg>
    </button>
    <a href="/" class="exit">
        <svg class="svgExit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <polyline points="15.5 15.5 15.5 19.5 11.5 19.5" fill="none"  stroke-miterlimit="10"/>
            <polyline points="18.5 14.5 21.5 11.5 18.5 8.5" fill="none"  stroke-miterlimit="10"/>
            <line x1="21.5" y1="11.5" x2="14" y2="11.5" fill="none"  stroke-miterlimit="10"/>
            <polyline points="15.5 7.5 15.5 3 4.5 3 4.5 19.5 11.5 22 11.5 5.5 5 3" fill="none"  stroke-miterlimit="10"/>
        </svg>
    </a>

</div>