.navBar {
    width: 90vw;
    height: 60px;
    background-color: var(--boxes-color);
    margin-bottom: 25px;
    border-radius: 0 0 20px 20px;
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px;
}

.navBar a {
    text-decoration: 0;
    color: var(--text-color);
}

.navBar .linksNav .svgLinks {
    transition: 0.5s;
    stroke: var(--text-color);
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navBar .linksNav:hover .svgLinks {
    transition: 0.5s;
    stroke: var(--roxo);
    cursor: pointer;
}

.navBar .linksNav.active .svgLinks {
    transition: 0.5s;
    stroke: var(--roxo);
}

.navBar .exit {
    width: 35px;
    height: 35px;
    margin: auto 0;
    margin-right: 10px;
}

.navBar button {
    background-color: transparent;
    border: 0;
}

.navBar .exit .svgTheam {
    transition: 0.5s;
    stroke: var(--text-color);
}

.navBar .exit .svgTheam:hover {
    transition: 0.5s;
    stroke: var(--roxo);
    cursor: pointer;
}

.navBar .space {
    flex: 1;
}

.navBar .exit .svgExit {
    transition: 0.5s;
    stroke: var(--text-color);
}

.navBar .exit .svgExit:hover {
    transition: 0.5s;
    stroke: var(--roxo);
}

.navBar .linksNav {
    transition: 0.5s;
    width: max-content;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid var(--boxes-color);
    padding-left: 10px;
    padding-right: 10px;
}

.navBar .linksNav.active {
    transition: 0.5s;
    border-bottom: 3px solid var(--roxo);
    color: var(--roxo);
}

.navBar .linksNav:hover {
    transition: 0.5s;
    border-bottom: 3px solid var(--roxo);
    color: var(--roxo);
}