#marketPlace {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#marketPlace .filter {
    position: relative;
    width: 25%;
    background-color: var(--boxes-color);
    height: auto;
    border-radius: 20px;
    border: 3px solid var(--roxo);
    padding: 20px;
}

#marketPlace .filter input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 3px solid var(--border-color);
    border-radius: 18px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    transition: .5s;
    margin-bottom: 20px;
    color: var(--text-color);
}

#marketPlace h1 {
    text-align: center;
    margin-bottom: 20px;
}

#marketPlace .filter h3 {
    margin-bottom: 5px;
}

#marketPlace .filter .dropDown {
    transition: .5s;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    height: auto;
    border: 3px solid var(--border-color);
    border-radius: 18px;
    background-color: transparent;
    color: var(--border-color);
    transition: .5s;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#marketPlace .filter .dropDown .space {
    flex: 1;
}

#marketPlace .filter .dropDown .placeHolder {
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#marketPlace .filter .dropDown .placeHolder h3 {
    transition: .5s;
    margin-bottom: 0;
}

#marketPlace .filter .dropDown:hover .placeHolder h3 {
    transition: .5s;
    color: var(--roxo);
}

#marketPlace .filter .dropDown:hover {
    cursor: pointer;
    border: 3px solid var(--roxo);
}

#marketPlace .filter .dropDown .droped {
    transition: .5s;
    position: relative;
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

#marketPlace .filter .dropDown .droped.inactive {
    transition: .5s;
    height: 0;
    position: absolute;
}

#marketPlace .filter .dropDown .svgDropDown {
    height: 30px;
    width: 30px;
    stroke: var(--border-color);
}

#marketPlace .filter .dropDown:hover .svgDropDown {
    cursor: pointer;
    stroke: var(--roxo);
}

#marketPlace .filter .dropDown .svgDropDown:hover {
    cursor: pointer;
    stroke: var(--roxo);
}

#marketPlace .filter input:focus {
    transition: .5s;
    border: 3px solid var(--roxo);
}

#marketPlace .filter input::placeholder {
    font-size: 14px;
    display: flex;
    align-items: center;
}

#marketPlace .library {
    width: 73%;
    min-height: 20vh;
    background-color: var(--boxes-color);
    border-radius: 20px;
    padding: 20px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#marketPlace .library .booksArray {
    height: 100%;
    width: 100%;
    display: inline;
}

#marketPlace .library .booksArray .gridItem {
    display: inline-block;
    width: max-content;
    height: max-content;
    margin-bottom: 20px;
    margin-right: 20px;
}

#marketPlace .filter input[type=checkbox] {
    visibility: hidden;
}

#marketPlace .filter .checkbox {
    width: 50px;
    height: 20px;
    background: var(--border-color);
    margin: 10px;
    margin-bottom: 0px;
    position: relative;
    border-radius: 10px;
}

#marketPlace .filter .checkbox label {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -3px;
    background: var(--tongle-color);
}

#marketPlace .filter .checkbox input[type=checkbox]:checked+label {
    left: 27px;
    background: var(--roxo);
}

#marketPlace .filter .flex {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 10px;
}

#marketPlace .filter .flex h3 {
    margin-bottom: 0;
    margin-top: auto;
}

#marketPlace .btnConfirmar {
    transition: .5s;
    width: 100%;
    height: 40px;
    background: var(--roxo);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0;
    margin-top: 20px;
    font-weight: bolder;
}

#marketPlace .btnConfirmar:hover {
    transition: .5s;
    cursor: pointer;
    transform: scale(1.05);
}