<div class="recover">
    <div class="apresentacao">
        <div class="text">
            <h1>Recover Page</h1>
            <h2>Digite o seu email e a nova password</h2>
        </div>
    </div>
    <div class="recoverForm">
        <div class="btns">
            <a href="/" class="btnsForm active">Recover Password</a>
        </div>
        <form>
            <input type="text" placeholder="Email">
            <input type="password" placeholder="New password">
            <button class="btnConfirmar" (click)="submit()">Confirmar</button>
        </form>
    </div>
</div>