<div id="login">
    <app-erro-pop-up [msg]="this.msg" [type]="this.type" [display]="this.display"></app-erro-pop-up>
    <div class="apresentacao">
        <div class="text">
            <h1>Login Page</h1>
            <h2>Faça login para aceder ao dashboard do user</h2>
        </div>
    </div>
    <div class="loginForm">
        <div class="btns">
            <a href="/Login" class="btnsForm active">Login</a>
            <a href="/Registo" class="btnsForm">Registar</a>
        </div>
        <form>
            <input type="text" placeholder="Email" name="email" [(ngModel)]="email">
            <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
            <a href="/Recover">Recuperar password</a>
            <button class="btnConfirmar" (click)="submit()">Confirmar</button>
        </form>
    </div>

</div>